<div class="app-dashboard shrink-medium shrink-large">
    <div class="grid-x expanded app-dashboard-top-nav-bar">
        <div class="cell medium-2 large-1">
            <button data-toggle="app-dashboard-sidebar" class="menu-icon hide-for-medium"></button>
            <a class="app-dashboard-logo">Evelyn</a>
        </div>
    </div>

    <div class="app-dashboard-body">
        <div class="app-dashboard-body-content">
            <div class="grid-x">
                <div class="float-center small-12 medium-6">
                    <ul class="tabs">
                        <li class="tabs-title "><a ui-sref="logon" >Log On</a></li>
                        <li class="tabs-title is-active"><a ui-sref="signup" aria-selected="true">Sign Up</a></li>
                    </ul>
                    <hr>
                    <form ng-submit="submit()">
                        <label class="tile-label">User Name
                            <input ng-model="userName" name="UserName" type="text" placeholder="User Name">
                        </label>
                        <label class="tile-label">E-Mail Address
                            <input ng-model="emailAddress" name="EmailAddress" type="text" placeholder="E-Mail Address">
                        </label>
                        <label class="tile-label">Password
                            <input ng-model="password" name="Password" type="password" placeholder="Password">
                        </label>

                        <input type="submit" class="button" value="Create" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
