<h2 class="text-center">Create User Group</h2>

<div class="rows">
    <div class="float-center small-12 medium-6">
        <form ng-submit="create()">
            <label>Name
                <input type="text" ng-model="name" paceholder="Name" />
            </label>
            <label>Description
                <input type="text" ng-model="description" paceholder="Description" />
            </label>

            <input type="submit" value="Create" class="button"/>
        </form>
    </div>
</div>
