<h2 class="text-center">User Groups</h2>

<div class="float-right space-below">
    <button ng-click="create()"><i class="fa fa-3x fa-plus"></i></button>
</div>

<div class="small-up-3">
    <div class="cell" ng-repeat="userGroup in $ctrl.userGroups">
        <div class="grid-x callout" ng-click="viewGroup(userGroup.UserGroupId)">
            <div class="cell small-10">
                <h5>{{userGroup.Name}}</h5>
                <p>{{userGroup.Description}}</p>
            </div>
            <div class="cell small-2">
                <div class="float-right">
                    <div class="grid-x">
                        <button ng-click="addMember(userGroup.UserGroupId)"><i class="fa fa-2x fa-plus"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
