dev_ui/public/js/moment-with-locales.js linguist-vendored
dev_ui/public/js/foundation.js linguist-vendored
dev_ui/public/js/jquery-3.1.1.js linguist-vendored
dev_ui/public/js/underscore.js linguist-vendored
dev_ui/public/js/what-input.js linguist-vendored
dev_ui/public/js/foundation-datepicker.js linguist-vendored

dev_ui/public/css/foundation.css linguist-vendored
dev_ui/public/css/foundation-datepicker.css linguist-vendored
dev_ui/scss/_foundation_settings.scss linguist-vendored
dev_ui/scss/custom-foundation.scss linguist-vendored

ui/shared/vendored/* linguist-vendored
