dev_ui/public/js/vendored/* linguist-vendored

dev_ui/public/css/foundation.css linguist-vendored
dev_ui/public/css/foundation-datepicker.css linguist-vendored
dev_ui/scss/_foundation_settings.scss linguist-vendored
dev_ui/scss/custom-foundation.scss linguist-vendored

ui/src/vendored/* linguist-vendored
