<div class="app-dashboard shrink-medium shrink-large">
  <div class="grid-x expanded app-dashboard-top-nav-bar">
    <div class="cell small-2 medium-2 text-center">
      <button data-toggle="app-dashboard-sidebar" class="menu-icon hide-for-medium"></button>
      <a class="app-dashboard-logo" ui-sref="dashboard.home">Evelyn</a>
    </div>
    <div class="cell show-for-medium medium-6">
      <div class="app-dashboard-search-bar-container">
        <input class="app-dashboard-search" type="search" placeholder="Search">
        <i class="app-dashboard-search-icon fa fa-search"></i>
      </div>
    </div>
    <div class="cell small-6 medium-1"></div>
    <div class="cell shrink app-dashboard-top-bar-actions small-2 medium-1">
      <button href="#" class="button hollow" ng-click="logout()">Logout</button>
      <!--<a href="#" height="30" width="30" alt=""><i class="fa fa-info-circle"></i></a>-->
    </div>
  </div>

  <div class="app-dashboard-body off-canvas-wrapper">
    <div id="app-dashboard-sidebar" class="app-dashboard-sidebar position-left off-canvas off-canvas-absolute reveal-for-medium" data-off-canvas>
      <div class="app-dashboard-sidebar-title-area">
        <div class="app-dashboard-close-sidebar">
          <h3 class="app-dashboard-sidebar-block-title">Navigation</h3>
          <!-- Close button -->
          <button id="close-sidebar" ng-click="appDashboardToggleShrink($event)" class="app-dashboard-sidebar-close-button show-for-medium" aria-label="Close menu" type="button">
            <span aria-hidden="true"><a href="#"><i class="large fa fa-angle-double-left"></i></a></span>
          </button>
        </div>
        <!-- Open button -->
        <div class="app-dashboard-open-sidebar">
          <button id="open-sidebar" ng-click="appDashboardToggleShrink($event)" class="app-dashboard-open-sidebar-button show-for-medium" aria-label="Open menu" type="button">
            <span aria-hidden="true"><a href="#"><i class="large fa fa-angle-double-right"></i></a></span>
          </button>
        </div>
      </div>
      <div class="app-dashboard-sidebar-inner">
        <ul class="menu vertical">
          <li><a href="#" ui-sref="dashboard.simpletask" class="is-active">
            <i class="large fa fa-sticky-note"></i><span class="app-dashboard-sidebar-text">Simple Tasks</span>
          </a></li>
          <li><a href="#" ui-sref="dashboard.todolist" class="is-active">
            <i class="large fa fa-list"></i><span class="app-dashboard-sidebar-text">Todo Lists</span>
          </a></li>
          <li><a href="#" ui-sref="dashboard.usergroups" class="is-active">
            <i class="large fa fa-users"></i><span class="app-dashboard-sidebar-text">User Groups</span>
          </a></li>
        </ul>
      </div>
    </div>

    <div class="app-dashboard-body-content off-canvas-content" data-off-canvas-content>
      <div ui-view></div>
    </div>
  </div>
</div>
