<h2 class="text-center">Todo Lists</h2>

<div class="small-up-3">
        <div class="grid-x small-up-1">
            <h4>{{$ctrl.todoList.Title}}</h4>
            <div ng-repeat="item in $ctrl.todoList.TodoListItems" class="cell">
                <label>
                    <input type="checkbox" ng-model=item.IsDone ng-change="updateDone($index)" />
                    {{item.Text}}
                </label>
            </div>
            <form ng-submit="addItem()">
                <input type="text" ng-model="newItem" placeholder="What else?" />
                <button type="submit" class="button">+</button>
            </form>
        </div>
</div>
