<h2 class="text-center">Create Simple Task</h2>

<div class="grid-x">
    <div class="float-center small-12 medium-6">
        <form ng-submit="create()">
            <label>Title
                <input type="text" ng-model="title" placeholder="Title" />
            </label>
            <label>Description
                <textarea type="text" ng-model="description" placeholder="Description"></textarea>
            </label>
            <label>Due Date
                <input type="text" ng-model="dueDate" class="date-input" placeholder="01/01/1970" />
            </label>

            <input type="submit" value="Create" class="button"/>
        </form>
    </div>
</div>
