<h2 class="text-center">Simple Tasks</h2>

<div class="float-right space-below">
    <button ng-click="create()"><i class="fa fa-3x fa-plus"></i></button>
</div>

<div class="grid-x small-up-1 medium-up-2 large-up-3">
    <div class="cell" ng-repeat="task in $ctrl.simpleTasks" >
        <div class="cell callout">
            <div class="cell small-12">
                <h4>{{task.Title}}</h4>
                <p>{{task.Description}}</p>
                <p>{{task.DueDate}}</p>
            </div>
            <div class="cell text-center small-12">
                <div class="small-up-3">
                    <div class="cell">
                        <button ng-click="edit(task.TaskId)"><i class="fa fa-2x fa-wrench"></i></button>
                    </div>
                    <div class="cell">
                        <button ng-click="done(task.TaskId)"><i class="fa fa-2x fa-check"></i></button>
                    </div>
                    <div class="cell">
                        <button ng-click="delete(task.TaskId)"><i class="fa fa-2x fa-trash"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
