<a class="button secondary" href="#!/lookup">Lookup</a>

<div class="rows">
  <div class="columns">
    <p>Create a new task.</p>

    <form id="form_create_simple_task" action="/simpletask/create" method="post">
        <label class="tile-label">Title
            <input name="Title" type="text" placeholder="Title">
        </label>
        <label class="tile-label">Description
            <textarea name="Description" type="text" placeholder="Description" rows="5"></textarea>
        </label>
        <label class="tile-label">Due Date
            <input class="date-input" name="DueDate" type="text" placeholder="01/01/1970">
        </label>

        <input type="submit" class="button" value="Create"/>
    </form>
  </div>
</div>
